@model ViewModelGestionarContrato

@{
    ViewData["Title"] = "Gestionar contrato";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">BUSCAR EMPLEADO POR DNI</h4>
                    <p class="card-description">
                        Ingrese el <code>DNI</code> de un empleado para filtrarlo en el sistema
                    </p>
                    <form class="form-sample" asp-controller="GestionarContrato" asp-action="BuscarEmpleado" method="get">
                        <div class="contenedor">
                            <input type="text" class="form-control mb-2" placeholder="10153248" name="dni">
                            <button type="submit" class="btn btn-primary" style="margin-left: 150px; margin-right: 150px">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">DATOS DEL EMPLEADO</h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Información personal
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Nombre</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {
                                                <input type="text" class="form-control" disabled value="@Model.Empleado.NombreEmpleado" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Dirección</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {
                                                <input type="text" class="form-control" disabled value="@Model.Empleado.Direccion" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Teléfono</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {
                                                <input type="text" class="form-control" disabled value="@Model.Empleado.Telefono" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">F. de Nac.</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {
                                                <input type="text" class="form-control" disabled value="@Model.Empleado.FechaDeNacimiento.ToShortDateString()" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Estado Civil</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {

                                                switch (Model.Empleado.EstadoCivil)
                                                {
                                                    case 0:
                                                        <input type="text" class="form-control" disabled value="Soltero" />
                                                        break;
                                                    case 1:
                                                        <input type="text" class="form-control" disabled value="Casado" />
                                                        break;
                                                    case 2:
                                                        <input type="text" class="form-control" disabled value="Conviviente" />
                                                        break;
                                                    case 3:
                                                        <input type="text" class="form-control" disabled value="Divorciado" />
                                                        break;
                                                    case 4:
                                                        <input type="text" class="form-control" disabled value="Viudo" />
                                                        break;
                                                }
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Grado Acad.</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.Empleado != null)
                                            {
                                                switch (Model.Empleado.Grado)
                                                {
                                                    case 0:
                                                        <input type="text" class="form-control" disabled value="Primaria" />
                                                        break;
                                                    case 1:
                                                        <input type="text" class="form-control" disabled value="Secundaria" />
                                                        break;
                                                    case 2:
                                                        <input type="text" class="form-control" disabled value="Bachiller" />
                                                        break;
                                                    case 3:
                                                        <input type="text" class="form-control" disabled value="Profesional" />
                                                        break;
                                                    case 4:
                                                        <input type="text" class="form-control" disabled value="Magister" />
                                                        break;
                                                    case 5:
                                                        <input type="text" class="form-control" disabled value="Doctor" />
                                                        break;
                                                }
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" disabled />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row" style="text-align: center">
                                    @{
                                        if (Model.Empleado == null)
                                        {
                                            <div class="col-sm-4">
                                                <button type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#crearContrato">
                                                    Crear Contrato
                                                </button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#editarContrato">
                                                    Editar Contrato
                                                </button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#anularContrato">
                                                    Anular Contrato
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.Contratos.Count() == 0)
                                            {
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearContrato">
                                                        Crear Contrato
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarContrato">
                                                        Editar Contrato
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#anularContrato">
                                                        Anular Contrato
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearContrato">
                                                        Crear Contrato
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarContrato">
                                                        Editar Contrato
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#anularContrato">
                                                        Anular Contrato
                                                    </button>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (Model.Contrato != null)
    {
        <div class="modal fade bd-example-modal-lg" id="crearContrato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">CREAR CONTRATO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-bottom: 30px">Ingrese los siguientes datos</h4>
                            <form class="form-sample" method="post" asp-controller="GestionarContrato" asp-action="CrearNuevoContrato">
                                @if (Model.Empleado != null)
                                {
                                    <input id="empleadoId" name="empleadoId" type="hidden" value="@Model.Empleado.IdEmpleado">
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">F. Inicio</label>
                                            <div class="col-sm-9">
                                                <input id="fechaInicio" name="fechaInicio" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Fecha Fin</label>
                                            <div class="col-sm-9">
                                                <input id="fechaFin" name="fechaFin" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Cargo</label>
                                            <div class="col-sm-9">
                                                <input id="cargo" name="cargo" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">AFP</label>
                                            <div class="col-sm-9">
                                                <div class="form-group">
                                                    @{
                                                        if (Model.AFPs != null)
                                                        {
                                                            <select name="afp" class="form-control" id="afp">
                                                                <option selected value="0">Seleccione una AFP</option>
                                                                @{
                                                                    foreach (var afp in Model.AFPs)
                                                                    {
                                                                        <option value="@afp.IdAFP">@afp.NombreAFP</option>
                                                                    }
                                                                }
                                                            </select>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3" style="text-align: center">Asignación Familiar</label>
                                            <div class="col-sm-9 col-form-label" style="text-align: center">
                                                <input id="asignacionFamiliar" name="asignacionFamiliar" type="checkbox" value="false"  onchange="this.value=this.checked" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Valor H.</label>
                                            <div class="col-sm-9">
                                                <input id="valorHora" name="valorHora" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Total Horas Por Semana</label>
                                            <div class="col-sm-9">
                                                <input id="totalHoras" name="totalHoras" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal fade bd-example-modal-lg" id="crearContrato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">CREAR CONTRATO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-bottom: 30px">Ingrese los siguientes datos</h4>
                            <form class="form-sample" method="post" asp-controller="GestionarContrato" asp-action="CrearContrato">
                                @if (Model.Empleado != null)
                                {
                                    <input id="empleadoId" name="empleadoId" type="hidden" value="@Model.Empleado.IdEmpleado">
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">F. Inicio</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Contrato.FechaInicio" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Fecha Fin</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Contrato.FechaFin" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Cargo</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Contrato.Cargo" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">AFP</label>
                                            <div class="col-sm-9">
                                                <div class="form-group">
                                                    @{
                                                        if (Model.AFPs != null)
                                                        {
                                                            <select asp-for="Contrato.AFP.IdAFP" class="form-control" id="sel1">
                                                                <option selected value="0">Seleccione una AFP</option>
                                                                @{
                                                                    foreach (var afp in Model.AFPs)
                                                                    {
                                                                        <option value="@afp.IdAFP">@afp.NombreAFP</option>
                                                                    }
                                                                }
                                                            </select>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3" style="text-align: center">Asignación Familiar</label>
                                            <div class="col-sm-9 col-form-label" style="text-align: center">
                                                <input asp-for="Contrato.EsAsignacionFamiliar" type="checkbox" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Valor H.</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Contrato.ValorHora" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="text-align: center">Total Horas Por Semana</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Contrato.TotalHorasSemanales" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<div class="modal fade bd-example-modal-lg" id="editarContrato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">EDITAR CONTRATO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">Edite los siguientes datos</h4>
                    <form class="form-sample" method="post" asp-controller="GestionarContrato" asp-action="EditarContrato">
                        @if (Model.Contrato != null)
                        {
                            <input id="contratoId" name="contratoId" type="hidden" value="@Model.Contrato.IdContrato">
                        }
                        @if (Model.Empleado != null)
                        {
                            <input id="empleadoId" name="empleadoId" type="hidden" value="@Model.Empleado.IdEmpleado">
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">F. Inicio</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="date" class="form-control" asp-for="@Model.Contrato.FechaInicio" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Fecha Fin</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="date" class="form-control" asp-for="@Model.Contrato.FechaFin" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Cargo</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" asp-for="@Model.Contrato.Cargo" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">AFP</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @if (Model.Contrato != null)
                                            {
                                                <select asp-for="Contrato.AFP.IdAFP" class="form-control" id="sel1">
                                                    <option selected value="0">Seleccione una AFP</option>
                                                    @{
                                                        foreach (var afp in Model.AFPs)
                                                        {
                                                            <option value="@afp.IdAFP">@afp.NombreAFP</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3" style="text-align: center">Asignación Familiar</label>
                                    <div class="col-sm-9 col-form-label" style="text-align: center">
                                        @if (Model.Contrato != null)
                                        {
                                            <input asp-for="Contrato.EsAsignacionFamiliar" type="checkbox" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Valor H.</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" asp-for="Contrato.ValorHora" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Total Horas Por Semana</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" asp-for="Contrato.TotalHorasSemanales" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="anularContrato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ANULAR CONTRATO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">Datos del contrato</h4>
                    <form class="form-sample" method="post" asp-controller="GestionarContrato" asp-action="AnularContrato">
                        @if (Model.Contrato != null)
                        {
                            <input id="contratoId" name="contratoId" type="hidden" value="@Model.Contrato.IdContrato">
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">F. Inicio</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="date" class="form-control" disabled asp-for="@Model.Contrato.FechaInicio" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Fecha Fin</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="date" class="form-control" disabled asp-for="@Model.Contrato.FechaFin" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Cargo</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" disabled asp-for="@Model.Contrato.Cargo" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">AFP</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @if (Model.Contrato != null)
                                            {
                                                <select asp-for="Contrato.AFP.IdAFP" disabled class="form-control" id="sel1">
                                                    <option selected value="0">Seleccione una AFP</option>
                                                    @{
                                                        foreach (var afp in Model.AFPs)
                                                        {
                                                            <option value="@afp.IdAFP">@afp.NombreAFP</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3" style="text-align: center">Asignación Familiar</label>
                                    <div class="col-sm-9 col-form-label" style="text-align: center">
                                        @if (Model.Contrato != null)
                                        {
                                            <input disabled asp-for="Contrato.EsAsignacionFamiliar" type="checkbox" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Valor H.</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" disabled asp-for="Contrato.ValorHora" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" style="text-align: center">Total Horas Por Semana</label>
                                    <div class="col-sm-9">
                                        @if (Model.Contrato != null)
                                        {
                                            <input type="text" class="form-control" disabled asp-for="Contrato.TotalHorasSemanales" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section SweetAlert2
{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript">

        function replaceAll(searchString, replaceString, str) {
           return str.split(searchString).join(replaceString);
        }

        function validacionEmpleado(empleadoEncontrado) {

            if (empleadoEncontrado == 1) {

                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No existe el empleado',
                })

            }
        }

        function validacionCreacionContrato(contratoCreado) {

            if (contratoCreado == 1) {

                Swal.fire({
                    type: 'success',
                    title: 'Se guardó el nuevo contrato',
                    showConfirmButton: false,
                    timer: 2000
                })

            }
        }

        function validacionDatosContrato(contratoDatos, mensajeError) {

            if (contratoDatos == 1) {

                Swal.fire({
                  type: 'warning',
                  title: 'Error en los datos...',
                  html:
                     replaceAll('.','<br>',mensajeError)
                })

            }
        }

        function validacionModificacionContrato(contratoModificado) {

            if (contratoModificado == 1) {

                Swal.fire({
                    type: 'success',
                    title: 'Se guardó las modificaciones del contrato',
                    showConfirmButton: false,
                    timer: 2000
                })

            }
        }

        function validacionAnulacionContrato(contratoAnulado) {

            if (contratoAnulado == 1) {

                Swal.fire({
                    type: 'info',
                    title: '¡Atención!',
                    text: 'Se anuló el contrato',
                })

            }
        }

        validacionEmpleado(@Model.EmpleadoNoEncontrado);
        validacionCreacionContrato(@Model.ContratoCreado);
        validacionDatosContrato(@Model.ErrorDatosContrato, '@Model.MensajeError');
        validacionModificacionContrato(@Model.ModificacionesContrato);
        validacionAnulacionContrato(@Model.ContratoAnulado);

    </script>
}