@model ProcesarPagosDTO
@{
    ViewData["Title"] = "Procesar pagos";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">PERIODO DE PAGO ACTIVO</h4>
                    @{
                        if (Model.PeriodoPago != null)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" style="text-align: center">Fecha Inicio: </label>
                                        <div class="col-sm-9">
                                            <label class="col-sm-9 col-form-label" style="text-align: center">@Model.PeriodoPago.FechaInicio.ToShortDateString()</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" style="text-align: center">Fecha Fin: </label>
                                        <div class="col-sm-9">
                                            <label class="col-sm-9 col-form-label" style="text-align: center">@Model.PeriodoPago.FechaFin.ToShortDateString()</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-sample" asp-controller="ProcesarPagos"
                                          asp-action="VerificarProcesado" method="post">
                                        <button type="submit" class="btn btn-outline-warning">Procesar pagos</button>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label text-danger" style="text-align: center">No se puede procesar porque no existe periodo de pago activo</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-sample" asp-controller="ProcesarPagos"
                                          asp-action="VerificarProcesado" method="post">
                                        <button type="submit" disabled class="btn btn-outline-warning">Procesar pagos</button>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">PAGOS DEL PERIODO</h4>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table text-center">
                                    <th>Cod Emp</th>
                                    <th>Nomb Emp</th>
                                    <th>DNI</th>
                                    <th>Total de horas</th>
                                    <th>Valor hora</th>
                                    <th>Sueldo básico</th>
                                    <th>Total de ingresos</th>
                                    <th>Total de descuentos</th>
                                    <th>Sueldo neto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Filas != null)
                                    {
                                        foreach (var fila in Model.Filas)
                                        {
                                            <tr class="table text-center">
                                                <td>@fila.Item1.Empleado.IdEmpleado</td>
                                                <td>@fila.Item1.Empleado.NombreEmpleado</td>
                                                <td>@fila.Item1.Empleado.Dni</td>
                                                <td>@fila.Item2.CalcularTotalHorasBoleta()</td>
                                                <td>@fila.Item1.ValorHora</td>
                                                <td>@fila.Item2.CalcularSueldoBasico()</td>
                                                <td>@fila.Item2.CalcularTotalIngresos()</td>
                                                <td>@fila.Item2.CalcularTotalDescuentos()</td>
                                                <td>@fila.Item2.CalcularSueldoNeto()</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SweetAlert2 {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript">

        function validarPeriodoActivo(periodoActivo) {
            if (periodoActivo == 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No se puede procesar porque no existe periodo de pago activo',
                })
            }
        }

        function validarProcesado(procesarPagos) {
            if (procesarPagos == 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No se puede procesar porque la fecha actual no corresponde a la fecha admitida para procesar pagos',
                })
            }
        }

        function existenContratosVigentes(contratosVigentes) {
            if (contratosVigentes == 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No se puede procesar porque no existen contratos vigentes',
                })
            }
        }

        function pagosProcesados(contratosVigentes) {
            if (contratosVigentes == 1) {
                Swal.fire({
                    type: 'success',
                    title: 'Se procesaron los pagos de todos los empleados',
                    showConfirmButton: false,
                    timer: 2000
                })
            }
        }

        validarPeriodoActivo(@Model.PeriodoActivo);
        validarProcesado(@Model.ProcesarPagos);
        existenContratosVigentes(@Model.ContratosVigentes);
        pagosProcesados(@Model.PagosProcesados);

    </script>
}
