@model ViewModelProcesarPagos
@{
    ViewData["Title"] = "Procesar pagos";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">PERIODO DE PAGO ACTIVO</h4>
                    <p class="card-description">
                        Ingrese el <code>DNI</code> de un empleado para filtrarlo en el sistema
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="text-align: center">Fecha Inicio: </label>
                                <div class="col-sm-9">
                                    @{
                                        if (Model.PeriodoPago != null)
                                        {
                                            <label class="col-sm-9 col-form-label" style="text-align: center">@Model.PeriodoPago.FechaInicio.ToShortDateString()</label>
                                        }
                                        else
                                        {
                                            <label class="col-sm-9 col-form-label" style="text-align: center">No hay fecha de inicio</label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" style="text-align: center">Fecha Fin: </label>
                                <div class="col-sm-9">
                                    @{
                                        if (Model.PeriodoPago != null)
                                        {
                                            <label class="col-sm-9 col-form-label" style="text-align: center">@Model.PeriodoPago.FechaFin.ToShortDateString()</label>
                                        }
                                        else
                                        {
                                            <label class="col-sm-9 col-form-label" style="text-align: center">No hay fecha de fin</label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form class="form-sample" asp-controller="ProcesarPagos"
                                  asp-action="VerificarProcesado" method="post">
                                <button type="submit" class="btn btn-outline-warning">Procesar pagos</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">PAGOS DEL PERIODO</h4>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Cod Emp</th>
                                    <th>Nomb Emp</th>
                                    <th>DNI</th>
                                    <th>Total de horas</th>
                                    <th>Valor hora</th>
                                    <th>Sueldo básico</th>
                                    <th>Total de ingresos</th>
                                    <th>Total de descuentos</th>
                                    <th>Sueldo neto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Planillas != null)
                                    {
                                        foreach (var planilla in Model.Planillas)
                                        {
                                            <tr>
                                                <td>@planilla.Empleado.IdEmpleado</td>
                                                <td>@planilla.Empleado.NombreEmpleado</td>
                                                <td>@planilla.Empleado.Dni</td>
                                                <td>@planilla.TotalHoras</td>
                                                <td>@planilla.Contrato.ValorHora</td>
                                                <td>@planilla.SueldoBasico</td>
                                                <td>@planilla.TotalIngresos</td>
                                                <td>@planilla.TotalDescuentos</td>
                                                <td>@planilla.SueldoNeto</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SweetAlert2 {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript">
        function ValidarPeriodoActivo(periodoActivo) {
            if (periodoActivo == 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No se puede procesar porque no existe periodo de pago activo',
                })
            }
        }

        function validarProcesado(procesarPagos) {
            if (procesarPagos == 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Algo ha fallado...',
                    text: 'No se puede procesar porque la fecha actual no corresponde a la fecha admitida para procesar pagos',
                })
            }
        }

    </script>
}